In [1]:
from tabulate import tabulate

import utils as u
from database import Database

In [2]:
player_name_input = input('Enter player name (Last, First): ')

Enter player name (Last, First):  Clark, Caitlin

In [4]:
 # Query shot chart details data
db = Database(user="wnba_data_user", password="password",
          host="localhost",
          port="5432", database="wnba_data")

In [5]:
db.connect()

INFO: 25-Jul-24 10:47:24 - Connected to PostgreSQL database!

In [6]:
player = db.fetch_one(f"SELECT * FROM players WHERE player_name = '{player_name_input}'")

In [7]:
player

('1642286', 'Clark, Caitlin', '1', '2024', '2024', '0', 'fever')

In [8]:
career_stats = db.fetch_all(f"select * from player_career_stats where player_id = '{player[0]}'")

In [12]:
print(career_stats)

[('1642286', '2024-25', '10', '1611661325', 'IND', '22.0', '26', '26', '35.2', '5.3', '13.1', '0.405', '2.7', '8.3', '0.327', '3.8', '4.2', '0.891', '0.4', '5.4', '5.8', '8.2', '1.5', '0.8', '5.6', '2.9', '17.1')]

In [14]:
headers_tuple = db.fetch_all("SELECT column_name FROM information_schema.columns WHERE table_name = 'player_career_stats';")
headers_list = [i[0] for i in headers_tuple]

# Print tabulated career totals per season
print(tabulate(career_stats, headers=headers_list, tablefmt="pretty"))

+-----------+-----------+-----------+------------+-------------------+------------+----+----+------+-----+------+--------+------+------+---------+-----+-----+--------+------+------+-----+-----+-----+-----+-----+-----+------+
| player_id | season_id | league_id |  team_id   | team_abbreviation | player_age | gp | gs | min  | fgm | fga  | fg_pct | fg3m | fg3a | fg3_pct | ftm | fta | ft_pct | oreb | dreb | reb | ast | stl | blk | tov | pf  | pts  |
+-----------+-----------+-----------+------------+-------------------+------------+----+----+------+-----+------+--------+------+------+---------+-----+-----+--------+------+------+-----+-----+-----+-----+-----+-----+------+
|  1642286  |  2024-25  |    10     | 1611661325 |        IND        |    22.0    | 26 | 26 | 35.2 | 5.3 | 13.1 | 0.405  | 2.7  | 8.3  |  0.327  | 3.8 | 4.2 | 0.891  | 0.4  | 5.4  | 5.8 | 8.2 | 1.5 | 0.8 | 5.6 | 2.9 | 17.1 |
+-----------+-----------+-----------+------------+-------------------+------------+----+----+------+-----+------+--------+------+------+---------+-----+-----+--------+------+------+-----+-----+-----+-----+-----+-----+------+